  body {
    font-family: 'Arial', sans-serif;
    background-color: #66bb6a;
  }
  
  header {
    background-color: #66bb6a;
    padding: 15px;
  }

  header h1{
    text-align: center;
    color: #14175c;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }
  
  header nav ul li {
    margin: 0px 15px;
  }
  
  header nav ul li a {
    color: #201f21;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    color: #7a6f6f;
    text-shadow: 1px 1px #000000;
  }

  section {
    background-color: #c1f7c5;
    color: #3b3d3b;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    box-shadow: 0 4px 12px #00000099;
    border-radius: 20px;
    text-align: center;
  }

  section nav{
    text-align: left;
  }

  section nav a{ 
    text-decoration: none;
  }

  section nav a:hover{ 
    text-decoration: underline;
  }

  main section h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  main section ul {
    padding-left: 20px;
  }
  
  form input, form button {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 40px;
    font-size: 18px;
  }

  form textarea{
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 30px;
    border: 2px solid #000000;
    border-radius: 40px;
    font-size: 18px;
    font-family: Arial, sans-serif; 
  }
  
  form input:focus, form textarea:focus, form button:focus {
    outline: none;
    border-color: #cc0c0c;
  }
  
  form button {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  form button:hover {
    background: #1b8056;
    color: #000000;
  }